@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(240, 2%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-black: hsl(252, 30%, 0%);
    --color-dark: hsl(240, 2%, 9%);
    --color-light-dark: hsl(240, 2%, 15%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border:none;
    color: var(--color-white);
}

body{
    font-family: 'Poppins', sans-serif;
    color:var(--color-dark);
    background: var(--color-dark);
    overflow-x: hidden;
}

/*GENERAL STYLES*/
.container{
    width:80%;
    margin: 0 auto;
}

.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.logo{
    width: 2.5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.log{
    cursor:pointer;
    display: inline-flex;
    gap:1rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary{
    background:var(--color-primary);
    color: white;
}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray);
}

/*========================NAVBAR==========================*/

nav{
    width: 100%;
    background: var(--color-black);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .search-bar{
    background: var(--color-dark);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

nav .search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;
}
/*========================USER MENU=====================*/
summary{
    cursor: pointer;
}

summary:hover{
    border: 2.5px var(--color-primary) solid;
}

details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
}

.user-menu{
    margin-top: 0.75rem;
    position: fixed;
    background: var(--color-light-dark);
    justify-content: space-around;
    right: 10vw;
    font-size: 0.90rem;
}

.user-menu > li{
    display: block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
}

.user-menu > li:hover{
    opacity: 0.8;
}

.user-menu > li i{
    padding: auto 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
}

@keyframes sweep{
    from{
        opacity: 0;
        margin-top: -10px;
    }
    to{
        opacity: 1;
        margin-top: 0.75rem;
    }
}
/*========================MAIN==========================*/
main{
    position: relative;
    top: 5.4rem;
}

main .container{
    display: grid;
    position: relative;
    width: 45rem;
}

/*========================MIDDLE==========================*/
.middle .stories{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.middle .stories .story{
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.middle .stories .story::before{
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent,rgba(0,0,0,0.75));
    position: absolute;
    bottom: 0;
}

.middle .stories .story .name{
    z-index: 2;
}

.middle .stories .story:nth-child(1){
    background:url('../img/story-1.jpg') no-repeat center center/cover;
}

.middle .stories .story:nth-child(2){
    background:url('../img/story-2.jpg') no-repeat center center/cover;
}

.middle .stories .story:nth-child(3){
    background:url('../img/story-3.jpg') no-repeat center center/cover;
}

.middle .stories .story:nth-child(4){
    background:url('../img/story-4.jpg') no-repeat center center/cover;
}

.middle .stories .story:nth-child(5){
    background:url('../img/story-5.jpg') no-repeat center center/cover;
}

.middle .stories .story:nth-child(6){
    background:url('../img/story-6.jpg') no-repeat center center/cover;
}

.middle .story .profile-photo{
    width: 2rem;
    height: 2rem;
    align-self: start;
    border: 2px solid var(--color-primary);
}

/*========================CREAR CUACK=============*/
.middle .create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-black);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.middle .create-post input[type="text"]{
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

/* ============================FEEDS=====================*/
.middle .feeds .feed{
    background: var(--color-black);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head{
    display: flex;
    justify-content: space-between;
}

.middle .feed .user{
    display: flex;
    gap: 1rem;
}

.middle .feed .photo{
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.middle .liked-by{
    display: flex;
}

.middle .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-black);
    margin-left: -0.6rem;
}

.middle .liked-by span:first-child{
    margin: 0;
}

.middle.liked-by p{
    margin-left: 0.5rem;
}

/*========================ABOUT US======================*/
.about-us{
    background: var(--color-black);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 1.5rem;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    order: 0;
}

.about-us h1{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 0.75rem;
    border-bottom: 5px var(--color-light-dark) solid;
}

.team-col {
    flex-basis: 48%;
    padding: 2.5rem 2px;
}

.team-col img {
    width: 17.5rem;
    display: block;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: auto auto;
}

.team-col h2 {
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}

.team-col p {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.95rem 0;
}

.team-col .age{
    color: var(--color-gray);
    padding: 0 0;
    margin-top: -0.30rem;
    font-size: 0.96rem;
}

@media (max-width: 952px) {
    .row {
        flex-direction: column;
    }

    .one {
        order: 1;
    }

    .two {
        order: 2;
    }

    .team-col h1 {
        font-size: 40px;
    }

    .team-col p {
        font-size: 17px;
    }
}

@media (max-width: 700px) {
    .one {
        order: 1;
    }

    .two {
        order: 2;
    }

    .team-col h1 {
        font-size: 26px;
    }

    .team-col p {
        font-size: 15px;
    }
}

/* ==============================================
MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS
================================================= */

@media screen and (max-width: 1200px){
    .container{
        width: 96%;
    }

    main .container{
        width: 80vw;
    }

    .user-menu{
        right: 2vw;
    }
}

/* ==============================================
MEDIA QUERIES FOR PHONES
================================================= */

@media screen and (max-width: 900px){
    .container{
        width: 90%;
    }

    nav .search-bar{
        display: none;
    }

    main .container{
        grid-template-columns: 0 auto 0;
        width: 100vw;
    }

    body{
        width: 80vw;
    }

}

/*====================================== LOGIN=================
*/

.pop-up{
    background: rgba(255,255,255,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size:0.9rem;
}

.pop-up .card{
    background: var(--color-black);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 45rem;
}

.pop-up .card h4{
    font-size: x-large;
}

.pop-up .card a{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.pop-up .card .login-input{
    width: 20rem;
    padding: 0.70rem 0.70rem;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0.75rem auto;
    color: var(--color-black);
    transition: border-width 0.2s ease;
}

.pop-up .card input[type="submit"]{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 8rem;
    margin-top: 0.75rem;
}

.pop-up .card h4, .pop-up .card a{
    margin-bottom: 0.2rem;
}